# General
PORT=3333
BASE_URL=http://localhost:3333
JWT_SECRET=

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432"

# Stripe 
STRIPE_SECRET_KEY=""

# TMDB 
TMDB_ACCESS_TOKEN=

# Redis
REDIS_URL=redis://default:redis@127.0.0.1:6379