APP_ENV=dev

# General
PORT=3333
BASE_URL=http://localhost:3333
JWT_SECRET=

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432"

# Stripe 
STRIPE_SECRET_KEY=""

# TMDB 
TMDB_ACCESS_TOKEN=

# Redis
REDIS_URL=redis://default:redis@127.0.0.1:6379

#Cloudflare
CLOUDFLARE_BUCKET=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_PUBLIC_URL=